<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="image.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            <%- user.name %>
        </h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tenetur adipisci, quod officia, reiciendis eaque exercitationem beatae, nostrum eligendi nobis fugit quis harum culpa quibusdam. Veniam, ducimus? Quas, praesentium consectetur?</p>
        <a href="#" class="btn btn-primary">
            <%- user.price %>
        </a>
        <p>
        </p>
    </div>
    <a href="./xe/<%- user.url%>"> Detail </a>
</div>


<p> <%- user.url %> </p>